<%= render 'header' %>

<div class="content">
    <h1>Thank you for confirming!</h1>
    
    <p><%= link_to 'DOWNLOAD MP3 HERE', static_pages_free_download_url, class: "button email" =%></p>
    <p>If you enjoy the track, you can always <%= link_to "like us on Facebook", @band.facebook_page %>.</p>
