<%= content_for :head do %>
    <!-- Facebook Conversion Code -->
    <%= raw(@band.facebook_conversion_code) %>
<% end %>
<%= render 'header' %>

<div class="content">
    <h1>Thanks!</h1>
    
    <p>You will receive information about the download in your mailbox.</p>

    <p>Meanwhile you can maybe <%= link_to "like us on Facebook", @band.facebook_page %>.</p>
</div>

