<%= render 'header' %>

<div class="content">
    <h1>Thank you for buying!</h1>
    
    <p><%= link_to 'DOWNLOAD AS MP3 HERE', @band.mp3_download_link, class: "button email" =%> 
    <%= link_to 'DOWNLOAD AS WAV HERE', @band.wav_download_link, class: "button email" =%></p>
    
    <p>If you enjoy our music, you can always <%= link_to "like us on Facebook", @band.facebook_page %>.</p>
