<% content_for :head do %>
 <script type="text/javascript">
   $(document).on('ready page:change', function () {
 
      $("#page_fb_headline").keyup(function() {
        var headline_counter = $("#headline_counter");
        var charsRemaining = 25 - $(this).val().length;
        headline_counter.text(charsRemaining);
        headline_counter.css('color', (charsRemaining < 0) ? 'red' : 'black');
      });

      $("#page_fb_text").keyup(function() {
        var text_counter = $("#text_counter");
        var charsRemaining = 90 - $(this).val().length;
        text_counter.text(charsRemaining);
        text_counter.css('color', (charsRemaining < 0) ? 'red' : 'black');
      });

      $("#page_fb_description").keyup(function() {
        var description_counter = $("#description_counter");
        var charsRemaining = 200 - $(this).val().length;
        description_counter.text(charsRemaining);
        descrption_counter.css('color', (charsRemaining < 0) ? 'red' : 'black');
      });
 
    });
 </script>
<% end %>

<%= form_for [@page.band, @page] do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :background_image %><br>
    <%= f.text_field :background_image %>
  </div>
  <div class="field">
    <%= f.label "Facebook ad headline (25 characters)" %><br>
    <%= f.text_area :fb_headline %>
    <div id="headline_counter">25</div>
  </div>
  <div class="field">
    <%= f.label "Facebook ad text (90 characters)" %><br>
    <%= f.text_area :fb_text %>
    <div id="text_counter">90</div>
  </div>
  <div class="field">
    <%= f.label "Facebook ad newsfeed link description (200 characters)" %><br>
    <%= f.text_area :fb_description %>
    <div id="description_counter">200</div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>