<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># Subscribed fans</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @band.pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= truncate(page.description.html_safe, length: 65) %></td>
        <td><%= page.fans.count %></td>
        <td><%= link_to 'Edit', edit_band_page_path(@band, page) %></td>
        <td><%= link_to 'Destroy', [@band, page], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Bands overview', bands_path %>
<%= link_to 'New Page', new_band_page_path %>