<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># Subscribed fans</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @band.pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= truncate(page.description.html_safe, length: 65) %></td>
        <td><%= page.fans.count %></td>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
