<!--<p id="notice"><%= notice %></p>-->


<div class="background" style="background-image: url(<%= @page.background_image %>)">

<div class="logo">
		<img src="<%= @band.logo %>">
</div>

		
<div class="signup">
	<h1>Get a free track</h1>

  <div>
      <%= form_for(@fan) do |f| %>
        <%= f.text_field :email, { :class => "email", :placeholder => "your email address" } %>
        <%=f.hidden_field :page_id, :value => @page.id %>
        <%= f.submit "DOWNLOAD", :class => "button" %>
      <% end %>
  </div>
</div>

<div class="content">
	<%=raw @page.description %>
</div>



