<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%=f.label :name %>
		<%=f.text_field :name %>
	</div>
	<div class="field">
		<%=f.label :short_name, 'short name' %>
		<%=f.text_field :short_name %>
	</div>
	<div class="field">
		<%=f.label :tumblr %>
		<%=f.text_field :tumblr %>
	</div>
	<div class="field">
		<%=f.label :logo %>
		<%=f.text_field :logo %>
	</div>
	<div class="field">
		<%=f.label :background_image, "background image" %>
		<%=f.text_field :background_image %>
	</div>
	<div class="field">
		<%=f.label :host %>
		<%=f.text_field :host %>
	</div>
	<div class="field">
		<%=f.label :mailchimp_list, "Mailchimp leads list" %>
		<%=f.text_field :mailchimp_list %>
	</div>
	<div class="field">
		<%=f.label :mailchimp_buyers_list, "Mailchimp buyers list" %>
		<%=f.text_field :mailchimp_buyers_list %>
	</div>
	<div class="field">
		<%=f.label :soundcloud_playlist, "Soundcloud playlist" %>
		<%=f.text_field :soundcloud_playlist %>
	</div>
	<div class="field">
		<%=f.label :facebook_conversion_code, "Facebook conversion code" %>
		<%=f.text_area :facebook_conversion_code %>
	</div>
	<div class="field">
		<%=f.label :google_analytics_id, "Google Analytics id" %>
		<%=f.text_field :google_analytics_id %>
	</div>
	<div class="field">
		<%=f.label :mp3_download_link %>
		<%=f.text_field :mp3_download_link %>
	</div>
	<div class="field">
		<%=f.label :wav_download_link %>
		<%=f.text_field :wav_download_link %>
	</div>
	<div class="field">
		<%=f.label :free_download_link %>
		<%=f.text_field :free_download_link %>
	</div>
	<div class="field">
		<%=f.label :facebook_page %>
		<%=f.text_field :facebook_page %>
	</div>		

	<div class="actions">
		<%=f.submit %>
	</div>
<% end %>


