<%= form_for(@sales_page) do |f| %>
  <% if @sales_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_page.errors.count, "error") %> prohibited this sales_page from being saved:</h2>

      <ul>
      <% @sales_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :background_image %><br>
    <%= f.text_field :background_image %>
  </div>
  <div class="field">
    <%= f.label :soundcloud %><br>
    <%= f.text_area :soundcloud %>
  </div>
  <div class="field">
    <%= f.label :buy_button %><br>
    <%= f.text_area :buy_button %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
