<h1>Listing sales_pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Background image</th>
      <th>Soundcloud</th>
      <th>Buy button</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_pages.each do |sales_page| %>
      <tr>
        <td><%= sales_page.name %></td>
        <td><%= sales_page.background_image %></td>
        <td><%= sales_page.soundcloud %></td>
        <td><%= sales_page.buy_button %></td>
        <td><%= link_to 'Show', sales_page %></td>
        <td><%= link_to 'Edit', edit_sales_page_path(sales_page) %></td>
        <td><%= link_to 'Destroy', sales_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales page', new_sales_page_path %>
