<p id="notice"><%= notice %></p>

<div class="background" style="background-image: url(<%= @band.background_image %>)">

<div class="logo">
		<img src="<%= @band.logo %>">
</div>

<div class="content wider_content">

  <h1>Discover our music</h1>
  <p class="soundcloud">
    <!-- band soundcloud -->
    <iframe width="400" height="250" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/<%= @band.soundcloud_playlist %>&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </p>

  <p class="buy">
  <!-- band buy button -->
  	Wanna buy?
    <form action="" method="POST">
    	<%= token_tag(nil) %>
    	<%= hidden_field_tag :utm_source, params[:utm_source] %>
	  <script
	    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	    data-key="pk_live_RXe6VAu54lL4SGyo0jyaGtQb"
	    data-currency="eur"
      data-amount="0395"      
	    data-name="<%= @band.name %>"
	    data-description="<%= @band.name %> EP"
	    data-image="<%= @band.logo %>">
	  </script>
	</form>

	<!-- Stripe test key is data-key="pk_test_pGmDYpUdPOCikVJO7Fh3NIMc"
  live key: pk_live_RXe6VAu54lL4SGyo0jyaGtQb
  -->
  </p>
</div>
</div>

