// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo {
			text-align: center;
			max-width: 430px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			padding-top: 5%;
		}
.logo img {
	max-width: 60%;
	//max-width: 120px;
}

.background {
	font-family: "Helvetica Neue",HelveticaNeue,Arial,sans-serif;
	color: #fff;
	z-index: 1;
	background-size: 100%;
	background-repeat: repeat-y;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

.background a {
	color: #fff;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.3em;
}

.signup {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
	color: #525252;
}

.content {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
	padding: 20px;
	color: #525252;
}

.email {
	width: 70%;
	line-height: 20px;
	margin: 10px 0px 10px 0px;
	text-align: center;
	color: #000;

}

.button {
	-webkit-appearance: none;
	color: #000;
	width: 70%;
	height: 40px;
	line-height: 20px;
	font-weight: bold;
	background-color: buttonface;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;

}

a.button {
	text-decoration: none;
}

.button:hover {
	background-color: #111;
	color: #fff;
	opacity: 0.7;
	cursor: pointer;
}

@media all and (min-width: 420px) {
	.signup {
		width: 20%;
		margin-right: 100px;
		margin-top: 50px;
		float: right;
	}
	.content {
		width: 46%;
		float: left;
		margin: 50px 100px auto;
	}
	.background {
		background-repeat: no-repeat;;
		height: 100vh;
	}
}

//Error messages

.alert-danger {
	padding: 20px;
	background-color: grey;
	color: white;
}


//Puppy Seeds
.puppy {
	.logo img {
		max-width: 300px;
	}

	.signup, .content {
	background-color: rgba(217,197,226, 0.5);
	color: #fff;
	}
}

//U.V.
.uv {
	.logo img {
		max-width: 60%;
		max-width: 120px;
	}
	.signup, .content {
	background-color: rgba(255, 255, 255, 0.7);
	color: #525252;
	}
}

//YellowStraps

.yellowstraps {
	.logo img {
		max-width: 80%;
		max-width: 250px;
	}

	.signup, .content {
	background-color: rgba(255, 255, 255, 0.5);
	color: #fff;
	}
}

//Bird On The Wire

.botw {
  .logo {
    max-width: 60%;
    img {max-width: 60%}
  }
  a {color: #000}
}
