// Place all the styles related to the sales_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wider_content {
    width: 80%;
}

// .soundcloud {
//     float: left;
// }

// .buy {
//     float: right;
//     width: 60%;
//     margin-top: 100px;
// }