<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @band %>
      <%= @band.name %>
    <% else %>
      1M Records
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <meta name="viewport" content="width=414">
  <%= yield :head %>
</head>
<body class="<% if @band %>
              <%= @band.short_name %>
            <% end %>">

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
</div>

<% if @band %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= @band.google_analytics_id %>', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>

</body>
</html>
